
:root{
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(71, 7, 234);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);
    
    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);
    
    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;
    
    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
    }
/* <!-- section middle --> */
section.middle .header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
 section.middle .header input[type="date"]{
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-2);
    border: none;
    background: var(--color-white);
    color: var(--color-gray-dark);
}
 section.middle .cards{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
 section.middle .cards .card{
    background: linear-gradient(#ff796f, #bd261b);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color: white;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2rem 3rem var(--color-danger-light);
    min-width: 22rem;
    transition: all 0.3s ease;
}
section.middle .cards .card:nth-child(2){
    background: linear-gradient(#7f8191, #27282f);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}
section.middle .cards .card:nth-child(3){
    background: linear-gradient(#5d70ff, #5719c2);
    box-shadow: 0 2rem 3rem var(--color-primary-light)
}
 section.middle .cards .card:hover{
    box-shadow: none;
}
section.middle .cards .card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 section.middle .cards .card .top .left{
    display: flex;
    gap: 0.5rem;
}
 section.middle .cards .card .top .left h2{
    font-weight: 200;
    font-size: 1.4rem;
}
 section.middle .cards .card .top .left img{
    width: 2.3rem;
    height: 2.3rem;
    border: 1px solid white;
    border-radius: var(--border-radius-2);
    padding: 0.4rem;
}
 section.middle .cards .card .top img.right{
    width: 3.5rem;
}
 section.middle .cards .card .middle{
    display: flex;
    justify-content: space-between;
}
 section.middle .cards .card .middle .chip{
    width: 3.5rem;
}
 section.middle .cards .card .bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
 section.middle .cards .card .bottom .right{
    display: flex;
    gap: 2rem;
}

